In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

data=pd.read_csv("Score.csv")

In [2]:
data

,Unnamed: 0,Index,Sex,CHI611,MATH611,ENG611,CHI612,MATH612,ENG612,CHI621,...,CHI912,MATH912,ENG912,PHY912,CHE912,CHI921,MATH921,ENG921,PHY921,CHE921
0,1,A01,F,75.0,83.0,95.0,77.0,95.0,96.0,89.0,...,130.0,134.0,136.5,88.0,94.0,120.0,137.0,140.0,79.0,57.0
1,2,A02,F,88.0,100.0,90.0,88.0,100.0,95.0,91.0,...,132.0,146.0,142.0,97.0,96.0,134.0,138.0,145.5,84.0,57.0
2,3,A03,F,85.0,97.0,91.0,87.0,96.0,97.0,93.0,...,132.0,146.0,144.5,96.0,95.0,134.0,145.0,146.0,86.0,57.0
3,4,A04,F,83.0,97.0,97.0,83.0,94.0,97.0,86.0,...,133.0,129.0,142.0,84.0,94.0,121.0,136.0,140.0,83.0,53.0
4,5,A05,F,81.0,89.0,94.0,84.0,89.0,90.0,86.0,...,127.0,137.0,136.0,87.0,92.0,124.0,140.0,128.0,79.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,239,G26,M,41.0,43.0,57.0,51.0,63.0,69.0,69.0,...,69.0,54.0,65.0,57.0,74.0,54.0,68.0,74.0,41.0,42.0
239,240,G27,M,70.0,80.0,77.0,69.0,75.0,77.0,76.0,...,119.0,133.0,123.0,88.0,86.0,112.0,114.0,134.5,74.0,52.0
240,241,G28,M,69.0,81.0,53.0,62.0,69.0,50.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,242,G29,M,59.0,12.0,62.0,57.0,9.0,54.0,48.0,...,89.0,10.0,58.0,30.0,25.0,78.0,26.0,77.5,29.0,9.0
242,243,G30,M,66.0,56.0,72.0,70.0,62.0,70.0,71.0,...,85.0,85.0,110.5,68.0,88.0,102.0,103.0,123.5,68.0,50.0

In [3]:
col=np.array(data.columns)
col=np.delete(col,range(3))
col

array(['CHI611', 'MATH611', 'ENG611', 'CHI612', 'MATH612', 'ENG612',
       'CHI621', 'MATH621', 'ENG621', 'CHI622', 'MATH622', 'ENG622',
       'CHI711', 'MATH711', 'ENG711', 'CHI712', 'MATH712', 'ENG712',
       'CHI721', 'MATH721', 'ENG721', 'CHI722', 'MATH722', 'ENG722',
       'CHI811', 'MATH811', 'ENG811', 'PHY811', 'CHI812', 'MATH812',
       'ENG812', 'PHY812', 'CHI821', 'MATH821', 'ENG821', 'PHY821',
       'CHI822', 'MATH822', 'ENG822', 'PHY822', 'CHI911', 'MATH911',
       'ENG911', 'PHY911', 'CHE911', 'CHI912', 'MATH912', 'ENG912',
       'PHY912', 'CHE912', 'CHI921', 'MATH921', 'ENG921', 'PHY921',
       'CHE921'], dtype=object)

In [4]:
maxScore1=[100 for i in range(36)]
maxScore2=[150,150,150,100,150,150,150,100,60,150,150,150,100,100,150,150,150,90,60]
maxScore=maxScore1+maxScore2

In [5]:
newdata={}
for i in range(55):
    d=(data[col[i]]-np.mean(data[col[i]]))/maxScore[i]
    newdata[col[i]]=d
rel=pd.DataFrame.from_dict(newdata)

In [6]:
mergedata={}
mergedata['chi']=rel.apply(lambda x:[x['CHI611'],x['CHI612'],x['CHI621'],x['CHI622'],
x['CHI711'],x['CHI712'],x['CHI721'],x['CHI722'],
x['CHI811'],x['CHI812'],x['CHI821'],x['CHI822'],
x['CHI911'],x['CHI912'],x['CHI921']],axis=1)

In [11]:
mergedata

{'chi': 0      [0.01978070175438603, 0.027117903930131037, 0....
 1      [0.14978070175438604, 0.13711790393013104, 0.1...
 2      [0.11978070175438603, 0.12711790393013103, 0.1...
 3      [0.09978070175438603, 0.08711790393013104, 0.1...
 4      [0.07978070175438604, 0.09711790393013103, 0.1...
                              ...
 238    [-0.32021929824561396, -0.23288209606986895, -...
 239    [-0.03021929824561397, -0.05288209606986896, 0...
 240    [-0.04021929824561397, -0.12288209606986897, -...
 241    [-0.14021929824561397, -0.17288209606986896, -...
 242    [-0.07021929824561397, -0.042882096069868966, ...
 Length: 243, dtype: object}

In [8]:
test=pd.DataFrame.from_dict(mergedata)

In [9]:
test['stat p']=test.apply(lambda x:(stats.))
stats.shar

SyntaxError: invalid syntax (<ipython-input-9-5e6c3db37cbe>, line 1)